@use '@angular/material' as mat;

.filter-panel
{
    margin: 1em 1em;
    display: block !important;
}

.filter-field{
    width: 100%;
}

.filter-panel mat-panel-title
{
    line-height: 24px;
    display: flex;
    margin: 0;
}
.filter-panel mat-icon
{
    flex-grow: 1;
    text-align: right;
}


.add-entry-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  
.table 
{
    margin: 1em auto;
    display: table !important;
    @include mat.elevation(8);
}

.table tr td, .table tr th {
    vertical-align: middle;
  }
.mat-column-avatar {

    vertical-align: middle;
    text-align: center !important;
    display: table-cell !important;
    padding-right: 1em;
  }
  
  .mat-column-name {
    flex-grow: 20;
  }
  th.mat-column-min, th.mat-column-max, th.mat-column-average, th.mat-column-total, th.mat-column-count {
      text-align: center;
  }
  .mat-column-min, .mat-column-max, .mat-column-average , .mat-column-total , .mat-column-count{
    flex-grow: 10;
    text-align: right;
    padding-left: .5em;
    
  }

  
  .card {
    margin: 1em 1em;
    display: block !important;
  }