.table {
  margin: 1em auto;
  display: table !important;
}
.table tr td, .table tr th {
  vertical-align: middle;
}
.mat-column-position {

}
.mat-column-avatar {

  vertical-align: middle;
  text-align: center !important;
  display: table-cell !important;
  padding-right: 1em;
}

.mat-column-name {
  flex-grow: 20;
}
.mat-column-total ,
.mat-column-delta ,
.mat-column-spending {
  flex-grow: 10;
  padding-left: .5em;
  text-align: right;
}


th.mat-column-spending, th.mat-column-total, th.mat-column-delta {
  text-align: center;
}