.table {
  margin: 1em auto;
  display: table !important;
}
.table tr td, .table tr th {
  vertical-align: middle;
}
.mat-column-position {

}
.mat-column-avatar {

  vertical-align: middle;
  text-align: center !important;
  display: table-cell !important;
  padding-right: 1em;
}

.mat-column-name {
  flex: 0 0 35% !important;
  width: 35% !important;
}
.mat-column-total {
  flex: 0 0 15% !important;
  width: 15% !important;
  text-align: right;
}
.mat-column-delta {
  flex: 0 0 15% !important;
  width: 15% !important;
  text-align: right;
}

.mat-column-spending {
  flex: 0 0 15% !important;
  width: 15% !important;
  text-align: right;
}