.label, .input
{

  display: flex;
}
.field
{
  display: flex;
  justify-content: space-between;
}
.actions {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: right;
}
.actions button:last-child
{
  margin-left: 10px;
}

