<div class="mat-title">Add Entry</div>
<form class="example-form">
  <mat-form-field class="full-width">
    <mat-label>Date of purchase</mat-label>
    <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="data.date">

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Spending</mat-label>
    <input matInput type="currency" name="value" inputmode="numeric" [(ngModel)]="data.value">
    <mat-icon matSuffix>monetization_on</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="data.category" name="category">
      <mat-select-trigger>
        <app-category [entry]="data"></app-category>
      </mat-select-trigger>
      <mat-option *ngFor="let category of entrysService.categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Info</mat-label>
    <textarea matInput [(ngModel)]="data.info" name="info" cdkTextareaAutosize></textarea>
  </mat-form-field>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      More
    </mat-expansion-panel-header>


    <mat-form-field class="full-width">
      <mat-label>Remunerator</mat-label>
      <mat-select [(ngModel)]="data.remunerator" name="remunerator">
        <mat-select-trigger>
          <app-remunerator [entry]="data"></app-remunerator>
        </mat-select-trigger>
        <mat-option *ngFor="let remunerator of entrysService.remunerators" [value]="remunerator">
          {{remunerator}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Remunerator</mat-label>
      <input matInput type="text" name="remunerator-manual" [(ngModel)]="data.remunerator">
      <mat-icon matSuffix>face</mat-icon>
    </mat-form-field>


    <mat-form-field class="full-width">
      <mat-label>Category</mat-label>
      <input matInput type="text" name="category-manual" [(ngModel)]="data.category">
      <mat-icon matSuffix>check_circle_outline</mat-icon>
    </mat-form-field>

  </mat-expansion-panel>

  <div mat-dialog-actions class="actions">
    <button mat-raised-button (click)="delete()" color="warn">Delete</button>
    <span fxFlex="grow"></span>
    <button mat-raised-button (click)="cancel()">Cancel</button>

    <button mat-raised-button (click)="ok()" cdkFocusInitial color="primary">Ok</button>
  </div>
</form>
