  .card {
    margin: 1em 1em;
    display: block !important;
  }
  .table {
    width: 100%;
  }
  .table td {
    text-align: right;
  }
  .table td:first-child {
    text-align: left;
  }
  .table th {
    font-weight: bold;
    text-align: right;
  }
    .cardMedia {
      margin: 0px -16px;
      object-position: 50% 66%;
      object-fit: cover;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
.cardTitle {
  margin-top: 0px;
}

.cardMenu {
  margin-top: -12px;
}
