.spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  text-align: center;
}
.sticky-top {
  position: fixed;
  top: 0;
  z-index: 1100;
}
.sticky-bottom {
  position: fixed;
  bottom: 0;
}
.main {
  position: relative;
  padding-top: 60px;
  margin-bottom: 60px;
}
.bg-light-grey {
  background-color: #eee;
}
