.spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  text-align: center;
}
.sticky-top {
  position: fixed;
  top: 0;
  z-index: 1100;
}
.sticky-bottom {
  position: fixed;
  bottom: 0;
}
.main {
  position: absolute;
  top:60px;
  left: 0px;
  right: 0px;
  bottom:60px;
}
.bg-light-grey {
  background-color: #eee;
}
