<div>
  <div class="section-header mat-tab-link">
    Categories
  </div>
  <mat-list role="list" class="section">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>
  <div class="section-header mat-tab-link">
    Remunerators
  </div>
  <mat-list role="list" class="section">
    <mat-list-item role="listitem">
      <app-avatar name="kw"></app-avatar>
      <span class="item" fxFlex>Item 1</span>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon></button>
    </mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
    <mat-list-item role="listitem">Item 4</mat-list-item>
  </mat-list>
</div>
