/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import 'variables.scss';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$piggytracker-app-primary: mat-palette($mat-light-blue);
//$piggytracker-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$piggytracker-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$piggytracker-app-theme: mat.define-light-theme($piggytracker-app-primary, $piggytracker-app-accent, $piggytracker-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($piggytracker-app-theme);

.flex-container {
  display:flex;
}

.flex-item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto
}

.flex-container-vcenter {
  align-items: center;
}

.flex-container-hcenter {
  justify-content: center;
}