// Import material theming functions
@import '~@angular/material/theming';

$piggytracker-app-primary: mat-palette($mat-light-blue);
$piggytracker-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$piggytracker-app-warn:    mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($piggytracker-app-primary);
$accent: mat-color($piggytracker-app-accent);
$warn: mat-color($piggytracker-app-warn);